<!DOCTYPE html>

<html>

    <body>
        <form method="post">
            <label>Username:</label>
            <input type="text" placeholder="Enter Username" name="username" required>
            <label>Password:</label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <label>Confirm Password:</label>
            <input type="password" placeholder="Confirm Password" name="confirmPassword" required>
            <input type="text" placeholder="Enter Billing Address" name="Billing" required>
            <button type="submit">Register</button>
        </form>
    </body>
    
</html>